body {
  background-color: rgb(171, 212, 177);
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: darkgreen; 
}

h1 {
  color: darkgreen;
  font-size: 50px;
  text-align: left;
  letter-spacing: 2px;
  font-size: 100px;
}

img {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}